#content > #homeDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: orangered;
    text-align: center;
}

#content > #homeDiv > * {
    margin: 0;
}

#content > #homeDiv > #topHeader {
    font-family: 'Kaushan Script', cursive;
    border-bottom: var(--smBorder) solid orangered;
    margin-bottom: var(--lgPadding);
    
}

#content > #homeDiv > #topHeader,
#content > #homeDiv > #middleHeader,
#content > #homeDiv > #orderButton {
    
} 
#content > #homeDiv > #orderButton {
    padding: var(--xSmPadding) var(--smPadding);
    margin-top: var(--smPadding);
    border-radius: var(--roundBorder);
    border-color: transparent;
}

#content > #homeDiv > #orderButton:hover{
    animation: invertColorAnimation 0.2s forwards;
}