#content > #menuDiv {
    /*display: inline-flex;
    flex-wrap: wrap;
    padding: 0 var(--medPadding);
    color: var(--fontLight);
    justify-content: center;*/

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    color: var(--fontLight);
    gap: var(--smPadding);
}

#content > #menuDiv > .typeDiv {
    background-color: var(--accentColor1);
    border-radius: var(--roundBorder);
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--smPadding);
    padding: var(--medPadding);
    box-shadow: var(--shadowBox1);
}

#content > #menuDiv > .typeDiv >  .menuTypeHeader {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    border-bottom: var(--smBorder) solid orangered;
}

#content > #menuDiv > .typeDiv > .foodItemDiv {
    background-color: var(--accentColor5);
    width: calc(100% - var(--medPadding));
    display: flex;
    flex-direction: column;
    padding: var(--smPadding);
    
}
#content > #menuDiv > .typeDiv > .foodItemDiv > *,
#content > #menuDiv > .typeDiv > .foodItemDiv > .namePriceDiv > * {
    margin: 0;
}

#content > #menuDiv > .typeDiv > .foodItemDiv > .namePriceDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#content > #menuDiv > .typeDiv > .foodItemDiv > .namePriceDiv > .foodPrice {
    margin-left: auto;
    justify-self: flex-end;
}

#content > #menuDiv > .typeDiv > .foodItemDiv > details > .foodDescr {
    font-style: italic;
    margin-top: var(--xSmPadding);
    font-size:smaller;
}

#content > #menuDiv > .typeDiv > .foodItemDiv > details > img {
    max-width: 100%;
    height: auto;
}