#content > #navHeaderDiv {
    padding: 0 var(--medPadding);
    color: var(--fontLight);
    display: flex;
    flex-direction: column;
    background-color: var(--accentColor2);
    border: var(--xSmBorder) solid var(--accentColor3);
}

#content > #navHeaderDiv > h3 {
    margin-bottom: calc(-1 * var(--medPadding));
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

#content > #navHeaderDiv > div {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}


#content > #navHeaderDiv > div > #navLogoDiv {
    display: flex;
    justify-items: center;
    font-family: 'Kaushan Script', cursive;
}

#content > #navHeaderDiv > div > #navLogoDiv > img {
    content: url("/src/images/logo.png");
    width: 60px;
    height: 53px;
}

#content > #navHeaderDiv > div > h3 {
    margin-left: auto;
    align-self: flex-end;
    font-family: 'Kaushan Script', cursive;
}

#content > #navHeaderDiv > div > #navButtonsDiv {
    margin-left: auto;
    margin-right: var(--lgPadding);
    padding: var(--smPadding);
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: var(--smPadding);
}

#content > #navHeaderDiv > div > #navButtonsDiv > * {
    margin: 0;
    justify-self: end;
    cursor: pointer;
    justify-self: flex-end;
}

#content > #navHeaderDiv > div > #navButtonsDiv > *:hover {
    animation: invertColorAnimation 0.3s forwards;
}
