@import url("./Common/global.css");

html,
body,
body > * {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

#content {
    background-image: url("../images/sushi1.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

